# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# SQLite database files
*.db
*.sqlite3